---
import { Image } from "astro:assets";
import locationImage from "~/assets/casa-azteca-location.jpg";
---

<section class="bg-amber-400">
  <div
    class="mx-auto flex max-w-6xl flex-col items-center justify-between gap-6 px-4 py-24 sm:px-8 md:flex-row md:gap-12"
  >
    <div class="w-full md:w-fit">
      <h2 class="text-3xl font-bold tracking-tight md:text-4xl">
        Visit us in Barre
      </h2>
      <p class="mt-2 text-lg text-pretty text-stone-950">
        Conveniently located in Central Vermont on <strong
          >Barre-Montpelier Road</strong
        >
      </p>
    </div>
    <a class="block" href="https://maps.app.goo.gl/j9nEn3wMBSFqxTSV9">
      <span class="sr-only">View our location on Google Maps</span>
      <Image
        class="h-auto w-full overflow-hidden rounded-md transition-colors hover:brightness-95 md:max-w-lg"
        src={locationImage}
        alt="Map showing Casa Azteca restaurant location in Barre, Vermont"
        sizes="(max-width: 768px) 100vw, 512px"
        layout="constrained"
      />
    </a>
  </div>
</section>
