---
import backgroundImage from "~/assets/hero.webp";
import { Image } from "astro:assets";
import { orderUrl } from "~/constants";
---

<section class="relative">
  <Image
    class="h-svh w-full object-cover object-center"
    src={backgroundImage}
    loading="eager"
    layout="full-width"
    alt="Casa Azteca most popular dishes on a table"
  />
  <div
    class="absolute inset-0 w-full bg-gradient-to-b from-stone-900/50"
    aria-hidden="true"
  >
  </div>
  <div class="absolute right-0 bottom-0 w-fit bg-amber-400 p-6">
    <h1 class="mb-2 text-xl font-bold text-pretty">
      Casa Azteca - Mexican Cuisine in Barre, VT
    </h1>
    <p class="mb-4 max-w-prose text-amber-950">
      Experience the vibrant flavors of Mexico with every bite. From sizzling
      fajitas to handcrafted tacos, our dishes are a true taste of tradition.
    </p>
    <a
      href={orderUrl}
      class="block w-full rounded-md bg-amber-700 px-4 py-2 text-center font-semibold text-white transition-colors hover:bg-amber-600 sm:w-fit"
      >Order Online</a
    >
  </div>
</section>
