---
import { orderUrl, socialLinks } from "~/constants";
---

<section class="bg-white">
  <div
    class="mx-auto flex max-w-6xl flex-col items-center justify-between gap-6 px-4 py-24 sm:px-8 md:flex-row"
  >
    <div class="w-full md:max-w-lg">
      <h2 class="text-3xl font-bold tracking-tight md:text-4xl">
        Order Online
      </h2>
      <p class="mt-4 text-lg leading-relaxed text-stone-500 sm:mt-2">
        Craving authentic Mexican food? Order online! Fresh ingredients,
        traditional recipes, made to order daily.
      </p>
    </div>
    <div class="flex w-full flex-col gap-4 md:max-w-xs">
      <a
        href={orderUrl}
        class="rounded-md border border-transparent bg-red-700 px-6 py-3 text-center font-medium text-white transition-colors hover:bg-red-600"
      >
        Order Pickup
      </a>
      <a
        href={socialLinks.DoorDash}
        class="border-wood-950 hover:bg-wood-950 text-wood-950 flex items-center justify-center gap-2 rounded-md border px-6 py-3 text-center font-medium transition-colors hover:text-white"
      >
        <svg class="h-6 fill-current" viewBox="0 0 24 24"
          ><path
            d="M23.071 8.409a6.09 6.09 0 0 0-5.396-3.228H.584A.589.589 0 0 0 .17 6.184L3.894 9.93a1.752 1.752 0 0 0 1.242.516h12.049a1.554 1.554 0 1 1 .031 3.108H8.91a.589.589 0 0 0-.415 1.003l3.725 3.747a1.75 1.75 0 0 0 1.242.516h3.757c4.887 0 8.584-5.225 5.852-10.413"
          ></path></svg
        ><span>DoorDash Delivery</span>
      </a>
    </div>
  </div>
</section>
