---
import { navLinks, orderUrl } from "~/constants";
---

<header
  class="sticky-animation fixed top-0 z-20 w-full text-white"
  class:list={{
    "relative bg-stone-900": Astro.url.pathname !== "/",
  }}
>
  <div
    class="mx-auto flex max-w-6xl items-center justify-between px-4 py-6 sm:px-8"
  >
    <a href="/" class="flex flex-col items-center"
      ><span class="font-serif text-2xl sm:text-7xl">Casa Azteca</span>
      <span
        class="w-full bg-amber-400 px-1 text-center font-serif text-xs tracking-wider text-amber-950 uppercase sm:text-base"
        >Mexican Restaurant</span
      ></a
    >
    <nav
      class="flex flex-col items-end gap-1 text-sm font-medium tracking-wide uppercase sm:gap-0.5 sm:text-base"
    >
      {navLinks.map((link) => <a href={link.href}>{link.name}</a>)}
      <a href={orderUrl} class="rounded bg-red-700 px-1">Order Now</a>
    </nav>
  </div>
</header>
<style>
  .sticky-animation {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }

  @keyframes blur {
    to {
      background-color: var(--color-stone-900);
      backdrop-filter: blur(var(--blur-sm));
    }
  }
</style>
